#logo {
	height: 15%;
	width: 25%;
	margin-bottom: 25px;
	margin-top: 15px;
	border: 3px solid black;
}

#rangelabel, #rangeSelection {
	display: flex;
	justify-content: center;
}

#showMap {
	margin-left: 50px;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	height: 50px;
}

::placeholder {
	text-align: center; 
}

#searchButton {
	margin-right: 50px;
	border: 3px solid black;
}

	#map {
	height: 500px;
	width: 500px;
	border: 3px dashed black;
	border-radius: 3px;
	margin-top: 25px;
}

footer {
	margin-top: 120px;
  }

  body {
	background-image: url(/skrongproject1/media/green-lawn-with-trees-and-silhouettes-buildings-vector-20903030.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-blend-mode:darken;
  }

 #sidebar {
	background-color: rgb(243, 237, 237);


 }

 .list-group {
	background: transparent;
 }
 